<p>Первый параграф</p>

<ng-container
  *ngTemplateOutlet="
    test;
    context: { $implicit: 'Hello', firstName: 'John', lastName: 'Doe' }
  "
>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus asperiores
    corporis distinctio nesciunt quas in perspiciatis illum numquam molestias
    praesentium impedit ipsa quis eos, id laborum. Tempora odit molestias quas.
  </p>
</ng-container>

<p>Третий параграф</p>

<ng-template #test let-secondName="lastName" let-text let-firstName="firstName">
  <p>Второй параграф</p>
  <p>{{ text }}</p>
  <p>{{ firstName }}</p>
  <p>{{ secondName }}</p>
</ng-template>
